html {
  font-family: system-ui, sans-serif;
  font-size: 0.7rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.line {
  stroke:yellow ;
}
.map{
  z-Index:1;
}
.timer{
  left: 10px;
  top: 10px;
  position: fixed;
  z-Index: 2
}